/* //002333
//159a9c
b4bec9 */
.email {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-all;
}
.header {
	position: relative;
	background-color: #002333;
}
.brand {
	color: #b4bec9;
	font-size: 2.5rem;
}
.brand:visited {
	color: #b4bec9;
}
.cvrLogo {
	height: 70px;
}
.searchBar {
	height: 30px;
}
.adminContent {
	display: flex;
}
.leftMenuBar {
	background-color: #b4bec9;
	height: 100vh;
	width: 200px;
}
.menuBar {
	margin-top: 15px;
	align-content: center;
}
.menuItem {
	padding: 15px;
	margin: 5px;
}
.menuItem a {
	text-decoration: none;
	color: rgb(34, 34, 34);
}
.menuItem a:hover {
	font-weight: 600;
	color: black;
}
.table {
	margin-top: 22px;
	width: max-content;
}
.deleteBtn {
	border: none;
	color: rgb(116, 115, 115);
	margin-left: 20px;
}
.deleteBtn:hover {
	color: black;
}
#searchResults{
	background-color: rgb(240, 245, 250);
	position: absolute;
	margin-top: 2rem;
	width: 13.4rem;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
}
.seacrchbardiv{
	display: absolute;
}
.navForm{
	position: relative;
	right: 2rem;
	flex-direction: column;
}